<hr/>
Score
<ul class="player_score">
  <li>Cards in hand: <%= player.points_in_hand %></li>
  <li>Total melds: <%= player.meld_points %></li>
  <li><b>Round Score:</b> <%= player.round_score %></li>
</ul>
<hr/>
