<% if @game.round_in_progress? %>
  <p id="round_number">Round <%= @game.current_round_number %></p>
<% end %>
<%= render @game.players %>
<% if @game.round_over? %>
  <%= render 'start_round_form' %>
<% end %>
