<div class="player">
  <%= current_round_player.name %>
  <ul class="cards">
    <% current_round_player.cards.each do |card| %>
      <li class="card"><%= card.rank %> of <%= card.suit %></li>
    <% end %>
  </ul>
</div>
