<div class="player">
  <%= player.name %> (<%= describe_pile_size player.hand_size %>)
  <ul class="cards">
    <% player.hand.each do |card| %>
      <li class="card"><%= card %></li>
    <% end %>
  </ul>
</div>
